<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="sidebar-form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                <span class="input-group-btn">
                    <button type="button" id="searchMenu" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
        <ul class="sidebar-menu">
            {$menulist??''}
        </ul>
    </section>
</aside>
